.features {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background: $light-background-color;
  border-radius: 4px;
}

.features__icon {
  width: 63.32px;
  height: 70px;
}

.features__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-font-color;
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $primary-font-color;
  width: 270px;
}
