.subscribe {
  padding-top: 12px;
  margin-left: 93px;
}

.subscribe__header {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-font;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__email {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: $light-font;

  background-color: $dark-background-color;
}

.subscribe__button {
  margin-left: 12px;

  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $accent-color;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.06em;

  color: $white-font;
  border-style: none;

  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-hover-color;
  }
}

.subscribe__icon {
  margin-left: 10px;
}
