@import '../utils/vars';
// @import '../components/page-header';
// @import '../components/logo';
// @import '../components/hero';
// @import '../components/features';
// @import '../components/work-direction';
// @import '../components/team';
// @import '../components/clients';
// @import '../components/footer';
// @import '../components/join';
// @import '../components/subscribe';
// @import '../components/modal';
// @import '../components/work-examples';

body {
  font-family: 'Roboto';
  color: $primary-font-color;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: $line;
}

.page-header .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.main-nav {
  position: relative;

  padding-top: 10px;
  margin: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    position: static;
    padding: 21px 0;
    height: 80px;
  }
}

.mobile-header-thumb {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    width: fit-content;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: black;
    }
  }

  @media screen and (min-width: 1200px) {
  }
}

.logo__web-part {
  color: $accent-color;
}

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #fff;
  z-index: 999;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0;

    background-color: transparent;
    transition: none;
    position: static;
    width: fit-content;
    height: fit-content;

    z-index: 1;
  }
}

.main-nav__list {
  list-style-type: none;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 0;
    flex-grow: 1;
    margin-right: 90px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 315px;
    flex-grow: 0;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    transform: none;
    transition: none;
  }
}

.main-nav__item {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin: 0;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.main-nav__link {
  position: relative;

  display: block;

  text-decoration: none;
  font-style: normal;
  color: $secondary-font-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;

    font-size: 14px;
    line-height: 16px;
  }
}

.main-nav__link--studio,
.main-nav__link--portfolio {
  color: $accent-color;
}

.main-nav__link--studio::after,
.main-nav__link--portfolio::after {
  @media screen and (min-width: 768px) {
    content: '';

    position: absolute;
    left: 0;
    bottom: -2px;

    display: inline-block;

    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
  }

  @media screen and (min-width: 1200px) {
    bottom: -1px;
  }
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle.is-open:hover,
.menu-toggle.is-open:focus {
  fill: $accent-color;
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    opacity: 1;
    pointer-events: all;
    visibility: visible;

    transform: none;
    transition: none;
  }
}

.mobile-menu.is-hidden .mobile-menu {
  transform: translateX(100%);

  @media screen and (min-width: 768px) {
    transform: none;
  }
}

.header-contacts {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  bottom: 134px;
  left: 0;

  padding: 40px;
  z-index: 999;

  list-style-type: none;

  margin-left: auto;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
    margin: 0;

    position: static;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.header-contacts__item {
  @media screen and (min-width: 1200px) {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header-contacts__link {
  color: $primary-font-color;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 14px;
  }
}

.header-contacts__link__tel {
  display: inline-block;
  position: static;

  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;

    align-items: center;

    color: $primary-font-color;
    text-decoration: none;
    font-style: normal;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.header-contacts__link__mail {
  display: inline-block;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    display: flex;

    align-items: center;

    color: $primary-font-color;
    text-decoration: none;
    font-style: normal;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    font-size: 14px;
  }
}

.header-contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__socials {
  position: fixed;
  display: flex;

  left: 0;
  bottom: 0;
  padding: 40px;
  z-index: 999;

  list-style-type: none;

  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__socials__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.header__socials__link--after::after {
  content: '';
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

// HERO

.hero {
  background: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set(url(../../images/tablet-img/hero.jpg) 1x, url(../../images/tablet-img/hero@2x.jpg) 2x);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  max-height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
        url(../../images/tablet-img/hero.jpg) 1x,
        url(../../images/tablet-img/hero@2x.jpg) 2x
      );
    max-width: 768px;
    max-height: 400px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(url(../../images/hero.jpg) 1x, url(../../images/hero@2x.jpg) 2x);
  }
}

.hero__header {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-font;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  display: inline-block;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-font;
  border: 0;
  cursor: pointer;
  padding: 10px 24px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-hover-color;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}

//FEATURES//

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 450px;
  height: 120px;
  background: $light-background-color;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__text-thumb {
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-font-color;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.features__text {
  max-width: 450px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $primary-font-color;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
}

//WORK_DIRECTIONS//

.work-dir {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.work-dir__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
  margin-bottom: 50px;
}

.work-dir__list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;

  justify-content: space-between;
}

.work-dir__item {
  position: relative;
}

.work-dir__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-dir__label {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.work-dir__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-font;
}

//TEAM//

.team {
  background: $light-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-font-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 42px;
  }
}

.team__members {
  list-style-type: none;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.member {
  max-width: 450px;

  background: $white-font;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
}

.member__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.member__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
}

.member__occupation {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-font-color;
}

.member__icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  list-style-type: none;
}

.member__icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.member__icon {
  fill: $icons-color;
  width: 20px;
  height: 20px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .member__icon-link:hover & {
    fill: $white-font;
  }

  .member__icon-link:focus & {
    fill: $white-font;
  }
}

//CLIENTS//

.clients {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients__header {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-font-color;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 42px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  align-content: center;
  justify-items: center;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.clients__item {
  &:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }

    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 170px;
  height: 92px;

  border: 1px solid $icons-color;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  fill: $icons-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover & {
    fill: $accent-color;
  }

  .clients__link:focus & {
    fill: $accent-color;
  }
}

//FOOTER//

.footer {
  background: $dark-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
  }
}

.tablet-footer__thumb {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: start;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    margin-bottom: 0;
  }
}

.footer__nav {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}

.logo--inv {
  display: inline-block;

  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white-font;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.footer__contacts {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 8;
}

.footer__adress,
.footer__mail,
.footer__phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $white-font;
}

.footer__adress {
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.footer__mail,
.footer__phone {
  color: $light-font;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

//JOIN//

.join {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}

.join__header {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-font;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.join__icon-list {
  list-style-type: none;
  display: flex;
}

.join__icon-item:not(:last-child) {
  margin-right: 10px;
}

.join__icon-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-color;
  }
}

.join__icon {
  fill: $white-font;
}

//SUBSCRIBE//

.subscribe__header {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-font;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe {
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    margin-left: 93px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.subscribe__email {
  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-bottom: 20px;
  padding: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: $light-font;

  background-color: $dark-background-color;

  @media screen and (max-width: 479px) {
    width: 320px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
  }
}

.subscribe__button {
  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $accent-color;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.06em;

  color: $white-font;
  border-style: none;

  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-hover-color;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

//MODAL//

.modal-hidden-header {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  opacity: 0;

  transform: translate(-50%, -50%) scale(0.5);

  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  height: 609px;

  background: $white-font;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    max-width: 330px;
    max-height: 600px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: $white-font;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal__close-button-icon {
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover > .modal__close-button-icon {
  fill: $accent-color;
}

.modal__header {
  display: inline-block;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__item {
  list-style-type: none;
  margin-bottom: 10px;
}

.modal__label {
  position: relative;
}

.modal__text {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: $primary-font-color;
}

.modal__input {
  position: relative;
}

.modal__input-area {
  padding-left: 42px;

  width: 370px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  @media screen and (max-width: 479px) {
    max-width: 300px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.modal__input-area:active + .modal__icon {
  fill: $accent-color;
}

.modal__input-area:focus + .modal__icon {
  fill: $accent-color;
}

.modal__input-area:focus,
.modal__input-area:active .modal__input-area {
  border: 1px solid $accent-color;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: $secondary-font-color;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item-comment {
  margin-bottom: 20px;
}

.modal__text {
  display: block;
}

.modal__input-area-comment {
  display: block;

  padding: 12px 16px;

  width: 370px;
  height: 120px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: $secondary-font-color;

  @media screen and (max-width: 479px) {
    max-width: 300px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.modal__input-area-comment:focus,
.modal__input-area-comment:active .input-area {
  border: 1px solid $accent-color;
}

.modal__checkbox-item {
  margin-bottom: 30px;

  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.modal__checkbox + .modal__checkbox-text::before {
  content: '';
  display: inline-block;

  width: 16px;
  height: 16px;

  margin: 0;
  margin-right: 7px;

  border: 2px solid #000;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: border-box;
  background-size: contain;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox-text::before {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url('../../images/check-after.svg');
}

.modal__checkbox-text {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;

  color: $primary-font-color;
  @media screen and (max-width: 479px) {
    flex-direction: column;
    gap: 5px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
    flex-direction: row;
    align-items: center;
  }
}

.modal__checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: underline;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 0.4em;

  &:hover {
    color: $accent-hover-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__item-button {
  margin: 0;
}

.modal__submit-button {
  width: 200px;
  height: 50px;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $white-font;

  cursor: pointer;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $accent-hover-color;
  }
}

//PORTFOLIO//

.work-examples {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-examples__header {
  display: none;
}

.work-examples__filter {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;

    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.work-examples__button {
  background: $light-background-color;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  margin-top: 0;
  margin-bottom: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__button:hover,
.work-examples__button:focus {
  background: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: $white-font;
}

.work-examples__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.work-examples__link {
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.work-examples__item {
  width: 450px;

  @media screen and (max-width: 479px) {
    max-width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 440px;
  }
}

.work-examples__item:not(:last-child) {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.work-examples__block {
  position: relative;
  overflow: hidden;
}

.work-examples__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-examples_hover-text-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: $accent-w-opacity;

  opacity: 0;
  pointer-events: none;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__link:hover .work-examples_hover-text-container {
  opacity: 1;
  transform: translateY(0);
}

.work-examples__hover-text {
  padding: 77px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $white-font;
}

.work-examples__text-container {
  padding: 20px 24px;
  border-right: $border;
  border-bottom: $border;
  border-left: $border;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.work-examples__text-header {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: $secondary-font-color;
  margin-bottom: 4px;
}

.work-examples__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: $primary-font-color;
  text-decoration: none;
}
