$accent-color: #2196f3;
$accent-hover-color: #1e84d7;
$accent-w-opacity: rgba(33, 150, 243, 0.9);

$primary-font-color: #757575;
$secondary-font-color: #212121;
$white-font: #fff;
$light-font: rgba(255, 255, 255, 0.6);

$light-background-color: #f5f4fa;
$dark-background-color: #2f303a;

$icons-color: #afb1b8;

$border: 1px solid #eeeeee;
$line: 1px solid #ececec;
